#topBar {
	.md-button {
		font-size: 30px;
		.badgeIndicator {
			font-size: 10px;
			top: -4px;
			right: -4px;
		}
	}
	.haizLogo {
		height: 35px;
		width: 130px;
		display: none;
		@include respondto(sm,md){
			display: inline-block;
		}
	}
}

#topBarLogin {
	.md-button {
		font-size: 16px;
		width: auto;
		padding: 0 8px;
		margin-left: 24px;

		md-select {
			margin: 0;
			padding: 0;
			.md-select-label {
				padding: 0;
				color: rgba(255, 255, 255, 0.87);
			}
		}
	}
}
