<md-button md-no-ink class="md-primary" ng-click="getFirstName()">Test</md-button>
<div id="wrapper" layout="row">
  <div flex=""></div>
  <div id="container">
    <p>Your curent first name:</p>
    <p>Your curent last name:</p>
    <p>Your curent email:</p>
    <md-input-container md-no-float class="md-block">
      <input placeholder="Your new first name:">
    </md-input-container>
    <md-input-container md-no-float class="md-block">
      <input placeholder="Your new last name:">
    </md-input-container>
    <md-input-container md-no-float class="md-block">
      <input placeholder="Your new email:">
    </md-input-container>
  </div>

  <div flex=""></div>
</div>
