// COLOURS ///////////////////////////////////////////////////////////////////////////////////////

$primaryColor: #645faa;
$primaryColorLight: lighten($primaryColor, 20%);
$imagesPath: '../img';
$bgColor: #ececec;

$sepGray: #dedede;

$blue: #1c9cf1;
$darkBlue: darken($blue, 20%);
$lightBlue: lighten($blue, 20%);

$green: #4ea547;
$darkGreen: darken($green, 20%);
$lightGreen: lighten($green, 20%);

$orange: #f59c4c;
$darkOrange: darken($orange, 20%);
$lightOrange: lighten($orange, 20%);

$red: #ec2739;
$darkRed: darken($red, 20%);
$lightRed: lighten($red, 20%);

$purple: #645faa;
$darkPurple: darken($purple, 20%);
$lightPurple: lighten($purple, 20%);

$gray: #404040;
$darkGray: darken($gray, 20%);
$lightGray: lighten($gray, 20%);

$facebook: #3b5998;
$darkFacebook: darken($facebook, 10%);
$lightFacebook: lighten($facebook, 15%);

$textColor: #404040;

// DIMENSIONS ///////////////////////////////////////////////////////////////////////////////////////

$progressBarHeight: 40px;