// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// MAIN ////////////////////////////////////////////////////////////////////////////////////

@import 'variables';
@import 'mixins';
@import 'layout';
@import 'utils';
@import 'settings';

// GENERAL //////////////////////////////////////////////////////////////////////////////////

@import 'general/header';
@import 'general/footer';
@import 'general/content';

// COMPONENTS //////////////////////////////////////////////////////////////////////////////

@import 'components/buttons';


// FEATURES ////////////////////////////////////////////////////////////////////////////////

@import '../features/login/styles/login';
@import '../features/about/styles/about';