<div id="login-wrapper" layout="column">
  <div flex=""></div>
  <div id="login-container" layout="row">
    <div flex=""></div>
    <div id="login">
      <md-input-container>
        <label>Email</label>
        <input ng-model="user.email"/>
      </md-input-container>
      <br/>
      <md-input-container>
        <label>Password</label>
        <input ng-model="user.password" type="password"/>
      </md-input-container>
      <br/>
      <div id="button-wrapper" layout="column">
        <md-button ng-href="#!/root">Login</md-button>
        <md-button ng-href="#!/register">Register</md-button>
      </div>
    </div>
    <div flex=""></div>
  </div>
  <div flex=""></div>
</div>
