// BUTTONS ////////////////////////////////////////////////////////////////////////////////////////

#wrap, .md-dialog-container {
	.md-button {
		border-radius: 1000px;
		font-weight: bold;

		.md-ripple-container {
			border-radius: 25px;
		}

		&.haizPrimary {
			background: $red;
			color: #fff;
			&:hover {
				background: $darkRed;
			}
		}
		&.haizSecondary {
			background: $blue;
			color: #fff;
			&:hover {
				background: $darkBlue;
			}
		}
		&.haizFacebook {
			background: $facebook;
			color: #fff;
			&:hover {
				background: $darkFacebook;
			}
		}
		&.haizMinor {
			color: #333;
		}
	}

	.md-fab {
		i {
			font-size: 35px;
			color: #fff;
			line-height: 55px;
		}
		&.md-mini {
			i {
				font-size: 26px;
				color: #fff;
				line-height: 41px;
			}
		}
	}
}
.md-black {
  background-color: #000 !important;
  color: #fff !important;
}


