#root-wrapper{
  height: 100%;
  background: lightgreen;
}
#begin{
  text-align: center;
  background: green;
  width:30%;
  height:100%;
}

#session{
  font-family: Ubuntu;
  font-size: large;
  color: white;
}

#button-wrapper{
  height:20%;
  text-align: center;
}
