// Z-INDEXES ///////////////////////////////////////////////////////////////////////////////////

@for $i from 1 through 70 {
	.z-#{$i} {
		z-index: $i;
	}
}

// RESPONSIVE UTILS /////////////////////////////////////////////////////////////////////////////

.visible-md-only {
	display: none;
}

@include respondto(visible-md) {
	.hidden-md {
		display: none !important;
	}
	.visible-md-only {
		display: block;
	}
}

@include respondto(md) {
	.hidden-md-up {
		display: none !important;
	}
}
@include respondto(xs, sm) {
	  .hidden-sm-xs {
		  display: none !important;
	  }
}
@include respondto(xs) {
	.hidden-xs {
		display: none !important;
	}
}
// ANGULAR PRELOADING ////////////////////////////////////////////////////////////////////////////

.preload {
	@include crossBrowser(opacity,0);

	&.ready {
		@include crossBrowser(opacity,1);
		@include transition(700,linear,opacity);
	}
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

// COMMON USEFULL CLASSES ///////////////////////////////////////////////////////////////////////

.noWrap {
	white-space: nowrap;
}

.error {
	padding: 10px 0;
	font-size: 13px;
	color: $error
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.text-center {
	text-align: center;
}

.full-height {
	height: 100%;
}

// AVATARS ////////////////////////////////////////////////////////////////////////////////////

.avatar {
	border-radius: 200px;
	width: 40px;
	height: 40px;

	&.avatar-lg {
		height: 65px;
		width: 65px;
	}

	&.avatar-xl {
		height: 100px !important;
		width: 100px !important;
	}
}